

img           									{ border:0; }
form          									{ display:inline; }
fieldset      									{ border:0; }
legend        									{ display:none; }
small,big     									{ font-size:1em; }
input											{ padding:0; margin:0; padding-top:2px !important; padding-bottom:2px !important; padding-left:3px !important; padding-right:3px !important; }
input.qty 										{ width:2.5em !important; }
.all-clear										{ clear:both; }
.pointer										{ cursor:pointer; }
.real-ol-tm										{ padding:0 0 0 20px; }
.livechat										{ margin:0 0 20px 0; }
.medtext a										{ font:12px Arial, Helvetica, sans-serif; color:#2f2f2f; text-decoration:underline; }
.medtext a:hover								{ text-decoration:none; color:#de0024; }
input.checkbox									{ margin:0 10px 0 0; }

/* No JavaScript ========================================================================= */
.noscript 										{ border:1px solid #ddd; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; }
.noscript .noscript-inner 						{ width:950px; margin:0 auto; padding:12px 0 12px; background:url(/images/i_notice.gif) 20px 50% no-repeat; }
.noscript p 									{ margin:0; }
/* ======================================================================================= */


/* Form Elements ========================================================================= */
input,select,textarea,button 					{ font:12px Arial, Helvetica, sans-serif; color:#2f2f2f; }
input.input-text,select,textarea 				{ background:#fff; border:1px solid #ccc; }
input.input-text,textarea 						{ padding:2px; }
select 											{ padding:1px; }
select option 									{ padding-right:10px; }
select.multiselect option 						{ border-bottom:1px solid #b6b6b6; padding:2px 5px; }
select.multiselect option:last-child 			{ border-bottom:0; }
button.button::-moz-focus-inner 				{ padding:0; border:0; } /* FF Fix */
button.button 									{ -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button 									{ overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span 								{ display:block; height:20px; border:1px solid #406a83; background:#618499; padding:1px 8px 0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
button.button span span 						{ border:0; padding:0; }
input.input-text:focus,select:focus,textarea:focus { background-color:#edf7fd; }
.buttons-set 									{ clear:both; margin:25px 0 0 0; padding:8px 0 0; border-top:1px solid #ccc; text-align:right; }
.buttons-set p.required 						{ margin:0 0 10px; font-size:11px; text-align:right; color:#EB340A; }
.buttons-set .back-link 						{ float:left; margin:0; }
.buttons-set button.button 						{ float:right; margin-left:5px; }
.buttons-set button.button span 				{ height:18px; background:none; border-color:#406a83; background-color:#618499; padding:3px 0 0 0; font:12px Arial, Helvetica, sans-serif; }
.buttons-set button.button span span 			{ padding:0 10px; font-weight:bold; }
.validation-advice 								{ clear:both; min-height:13px; margin:3px 0 0; padding-left:17px; font-size:11px; font-weight:bold; line-height:13px; background:url(/images/validation_advice_bg.gif) 2px 0 no-repeat; color:#eb340a; }
.validation-failed 								{ border:1px dashed #eb340a !important; background:#faebe7 !important; }
.validation-passed 								{}
p.required 										{ font-size:11px; text-align:right; color:#EB340A; }
.product-name 									{ margin:0; font-size:1em; font-weight:normal; }
.product-name a 								{ color:#2f2f2f; text-decoration:underline; }
.product-name a:hover 							{ color:#de0024; text-decoration:none; }
/* ======================================================================================= */


/* Adverts =============================================================================== */
.adverts										{ margin:25px 0 0 0; }
.adverts img									{ width:195px; height:auto; border:0; margin:0; padding:0; }
/* ======================================================================================= */


/* Messages ============================================================================== */
.messages,
.messages ul 									{ list-style:none !important; margin:0 !important; padding:0 !important; }
.messages 										{ width:100%; overflow:hidden; }
.messages li 									{ margin:0 !important; padding:0; }
.messages li li 								{ margin:0 !important; padding:0; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg 									{ border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:18px !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg 										{ color:#df280a; font-weight:bold; border-color:#f16048; background-color:#faebe7; background-image:url(/images/i_msg-error.gif); }
.success-msg									{ border-color:#446423; background-color:#eff5ea; background-image:url(/images/i_msg-success.gif); }
.success-msg ul li								{ color:#3d6611; font-weight:bold; }
.note-msg,
.notice-msg 									{ color:#3d6611; border-color:#fcd344; background-color:#fafaec; background-image:url(/images/i_msg-note.gif); }
/* ======================================================================================= */


/* Header ================================================================================ */
#div__header									{ width:100%; margin:0; padding:0;  }
.header-container								{ width:100%; text-align:center; padding:0; margin:0; }
.header 										{ margin:auto; width:950px; text-align:center; position:relative; z-index:10; }
.header .logo 									{ float:left; margin:15px 0 12px 18px; padding:0; text-decoration:none !important; font-size:0; }
.header h1.logo 								{ margin:0; }
.header .quick-access 							{ float:right; width:566px; padding:100px 14px 0 0; }
.header .form-search 							{ position:absolute; top:60px; right:18px; height:32px; background:url(/images/bkg_form-search.png) 0 0 no-repeat; padding:4px 0 0 16px; }
.header .form-search label 						{ float:left; width:24px; height:21px; text-align:left; text-indent:-999em; overflow:hidden; }
.header .form-search input.input-text 			{ float:left; border-color:#5c7989; width:216px; margin:4px 8px 0 4px; }
.header .form-search button.button 				{ float:left; margin:4px 0 0 0; }
.header .form-search button.button span 		{ border:0; height:21px; background:url(/images/btn_search.png) 0 0 no-repeat; padding:0 0 0 3px; font:12px Arial, Helvetica, sans-serif; }
.header .form-search button.button span span 	{ background-position:100% 0; padding:3px 6px 0 3px; }
.header .links 									{ float:right; margin:0; }
.header .links .smalltext						{ color:#ffffff; font:12px Arial, Helvetica, sans-serif; margin:0 4px; }
.header .links li 								{ float:left; font-size:12px; background:url(/images/bkg_pipe1.gif) 100% 80% no-repeat; padding:4px 8px 0 7px; list-style-type:none; display:inline; color:#869478; }
.header .links li.first 						{ padding-left:0 !important; }
.header .links li.last 							{ background:none !important; padding:4px 0 0 3px !important; }
.header .links a 								{ color:#FFFFFF; text-decoration:none; }
.header .links a:hover 							{ text-decoration:underline; color:#de0024; }
.header .block-currency 						{ position:absolute; border:0; top:61px; right:350px; padding:7px 0 10px 30px; font-size:0; }
.header .block-currency a						{ margin:0; padding:0; }
.header .block-currency img						{ cursor:pointer; }
.header .block-currency span					{ font-weight:bold; color:#fff; margin:0 0 0 12px; padding:0; }
.header .block-currency .block-title 			{ background:none; border:0; padding:0; margin:0; }
.header .block-currency .block-title strong 	{ font:bold 13px/21px Arial, Helvetica, sans-serif; text-transform:none; color:#fff; }

/* ======================================================================================= */


/* Crumbs ================================================================================ */
.crumb-container								{ width:100%; text-align:center; background:#fbfaf6 url(/images/bkg_main1.gif) 50% 0 no-repeat; font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.crumb-content									{ width:950px; text-align:left; margin:0 auto; padding:0; background:#fffffe url(/images/bkg_main2.gif) 0 0 no-repeat; }
.crumb-content .holder							{ padding:15px 0 0 25px; }
.crumb-content a								{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; text-decoration:underline; }
.crumb-content a:hover							{ text-decoration:none; color:#de0024; }
/* ======================================================================================= */


/* Menu ================================================================================== */
.nav-container 									{ background:#423F3E; width:100%; text-align:center; padding:0; margin:0; }
.header-menu									{ margin:auto; width:950px; text-align:center; border-left:#312D2D solid 1px; border-right:#312D2D solid 1px; }
#menu 											{ padding:0; margin:0; list-style:none; position:relative; z-index:100; width:950px; height:25px; background:url(/images/menubg.gif) 0 0;  }
#menu li 										{ display:inline; float:left; text-align:center; border-right:#312D2D solid 1px; }
#menu li a										{ display:block; width:100%; text-decoration:none; color:#fff; font-weight:bold; padding:3px 0; }
#menu .noborder									{ border:none; }
#menu li a.norm									{ white-space:nowrap; }
#menu li a.end 									{ white-space:nowrap; }
#menu li a.select								{ background:#000 url(/images/menubghover.gif) 100% 0 no-repeat; white-space:nowrap; }
#menu li a:hover, #menu li:hover > a			{ text-decoration:underline; }
#menu a.norm:hover, #menu a.end:hover			{ background:#000 url(/images/menubghover.gif) 100% 0 no-repeat; }
#menu :hover > a.norm, #menu :hover > a.end		{ background:#000 url(/images/menubghover.gif) 100% 0 no-repeat; }
#menu div										{ display:none; }
#menu :hover div 								{ display:block; position:absolute; top:25px; border:1px solid #92A19B; padding-bottom:0.7em; background:#ffffff; }
html>body #menu :hover div 						{ top:25px; }
#menu .one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .end:hover { position:relative; }
#menu .sml										{ width:88px; }
#menu .med										{ width:107px; }
#menu .lrg										{ width:160px; }
#menu .pos1 									{ left:0; }
html>body #menu .pos1 							{ left:-1px; }
#menu .pos2 									{ left:0; }
html>body #menu .pos2 							{ left:160px; }
#menu .pos3 									{ left:0; }
html>body #menu .pos3 							{ left:268px; }
#menu .pos4 									{ left:0; }
html>body #menu .pos4 							{ left:180px; }
#menu .pos5 									{ left:0; }
html>body #menu .pos5 							{ left:180px; }
#menu .pos6 									{ left:0; }
html>body #menu .pos6 							{ left:592px; }
#menu .pos7										{ left:0; }
html>body #menu .pos7 							{ left:680px; }
#menu .pos8 									{ right:0; }
html>body #menu .pos8 							{ right:-1px; }
#menu :hover div dl 							{ display:inline; padding:0; margin:0; float:left; }
#menu :hover div dt 							{ width:100%; display:block; background:#E4EAE8; text-indent:0.75em; text-decoration:none; padding:0.3em 0; text-align:left; margin:0 0 0.3em 0; font-weight:bold; color:#423F3E; cursor:default; }
#menu :hover div dd 							{ width:auto; display:block; padding:0.3em 1.4em 0 1.4em; margin:0; text-align:left; }
#menu :hover div dd a 							{ text-decoration:none; font-weight:normal; color:#2f2f2f; margin:0; padding:0; height:auto; }
#menu :hover div dd a.special 					{ color:#de0024; font-weight:bold; }
#menu :hover div dd a:hover 					{ text-decoration:underline; color:#de0024; }
/* ======================================================================================= */


/* Body ================================================================================== */
#div__body										{ width:100%; margin:0; padding:0; }
#ns-left-column									{ display:none; }
.sideNavPanel 									{ display:none; }
.mainbody-container 							{ width:100%; background:#fbfaf6 url(/images/bkg_main1.gif) 50% 0 no-repeat; }
.mainbody 										{ width:950px; margin:0 auto; min-height:400px; padding:0; background:#fffffe url(/images/bkg_main2.gif) 0 0 no-repeat; }
.mainbody-content								{ padding:0 25px; }
.mainbody-content tr							{ height:0 !important; }
.main-column									{ float:left; width:680px; margin:8px 0 20px -5px;  }
.sidebar										{ float:right; width:195px; margin:8px -5px 0 0; }
.fieldset 										{ border:1px solid #ccc; background:#fff; padding:10px 25px 0 22px; margin:28px 0 0 0; }
.fieldset table									{ padding:0 0 0 10px; }
.fieldset .legend 								{ float:left; font-weight:bold; font-size:13px; border:1px solid #ccc; background:#fff; color:#0a263c; margin:-21px 0 0 0; padding:0 8px; position:relative; }
.fieldset ul.form-list							{ padding:0 0 0 10px; margin:0; }
.form-list										{ margin:0; padding:0; }
.form-list li 									{ margin:0 0 8px; list-style-type:none; }
.form-list label 								{ float:left; color:#666; font-weight:bold; position:relative; z-index:0; }
.form-list label.required 						{}
.form-list label.required em 					{ float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.form-list .input-box 							{ display:block; clear:both; width:260px; }
.form-list .field 								{ float:left; width:275px; }
.form-list input.input-text 					{ width:254px; }
.form-list textarea 							{ width:254px; height:10em; }
.form-list select 								{ width:254px; }
.form-list li.wide .input-box 					{ width:535px; }
.form-list li.wide input.input-text 			{ width:529px; }
.form-list li.wide textarea 					{ width:529px; }
.form-list li.wide select 						{ width:535px; }
.form-list li.additional-row 					{ border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove 		{ float:right; margin:5px 0 0; }
.form-list .input-range input.input-text 		{ width:74px; }
.form-list li:after, .form-list .field:after	{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */


/* Home Page ============================================================================= */
.bgltmedtext									{ background:none; font-size:0; width:100%; }
.home-container									{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.home-container	.page-title						{ width:100%; overflow:hidden; border-bottom:1px solid #ccc; margin:10px 0; padding:0; }
.home-container	.page-title h1, .page-title h2	{ margin:0; font-size:20px; color:#0a263c; font-weight:normal; }
/* ======================================================================================= */


/* Sponsorship =========================================================================== */
ul.sponsorship									{ list-style-type:none; width:100%; float:left; padding:0 !important; }
ul.sponsorship img 								{ padding:0 0 10px 0; }
ul.sponsorship li 								{ float:left; padding:0 10px 0 0; width:126px; }
ul.sponsorship .main-sponsor 					{ padding:0 10px 0 0; width:262px; }
/* ======================================================================================= */



/* Sidebar =============================================================================== */
.block 											{ border:1px solid #c4c1bc; margin:0 0 25px; }
.block .block-title 							{ background:url(/images/bkg_block-title.gif) 0 0 repeat-x; border-bottom:1px solid #ddd; padding:2px 0; }
.block .block-title strong 						{ display:block; font:bold 12px/16px Arial, Helvetica, sans-serif; min-height:16px; padding:1px 0 1px; color:#423F3E; }
.block .block-title strong span 				{}
.block .block-title a 							{ text-decoration:none !important; }
.block .block-subtitle 							{ margin:0; padding:5px 9px; font-size:1em; font-weight:bold; color:#0a263c; }
.block .block-content 							{ background:#f8f7f5; font:12px Arial, Helvetica, sans-serif; }
.block .block-content li.item 					{ padding:7px 9px; }
.block .btn-remove 								{ float:right; margin:1px 0 2px 5px; }
.block .actions 								{ background:#dee5e8 url(/images/bkg_block-actions.gif) 0 0 repeat-x; padding:6px 9px; text-align:right; }
.block .actions a 								{ float:left; color:#2f2f2f; text-decoration:underline; }
.block .actions a:hover							{ color:#de0024; text-decoration:none; }
.block .empty 									{ margin:0; padding:5px 9px; }
.block li.odd 									{ background-color:#f4f3f3; }
.block li.even 									{ background-color:#fafafa; }
.block-cart,
.block-wishlist,
.block-subscribe,
.block-compare,
.block-reorder,
.block-poll,
.block-viewed,
.block-compared,
.block-related,
.block-tags,
.block-login 									{ font-size:12px; line-height:1.25; }
.block-cart .block-title strong,
.block-wishlist .block-title strong,
.block-subscribe .block-title strong,
.block-compare .block-title strong,
.block-reorder .block-title strong,
.block-poll .block-title strong,
.block-viewed .block-title strong,
.block-compared .block-title strong,
.block-related .block-title strong,
.block-tags .block-title strong,
.block-login .block-title strong 				{  background-position:0 0; background-repeat:no-repeat; padding-left:9px; }
/* ======================================================================================= */


/* Mini Cart ============================================================================= */
.block-cart .block-title strong 				{ }
.block-cart .summary 							{ background:#fff; padding:8px 8px 8px; position:relative; z-index:1; }
.block-cart .amount 							{ margin:0; }
.block-cart .amount a 							{ font-weight:bold; color:#2f2f2f; text-decoration:underline; }
.block-cart .amount a:hover						{ color:#de0024; text-decoration:none; }
.block-cart .subtotal 							{ margin:5px 0 0; padding:2px 0; background:#fbebd9; text-align:center; }
.block-cart .subtotal .price 					{ font-weight:bold; }
.block-cart .actions 							{ height:21px; }
.block-cart .actions .checkout					{ float:right; }
.block-cart .actions .checkout a				{ display:block; height:20px; border:1px solid #406a83; background:#618499; padding:1px 8px 0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; text-decoration:none; }
.block-cart .actions .checkout a:hover			{ color:#FFFFFF; }
/* ======================================================================================= */


/* Recently Viewed ======================================================================= */
.block-viewed .block-title strong 				{ }
.block-viewed ol								{ list-style-type:none; margin:0; padding:0; }
.block-viewed ol li.odd 						{ background-color:#f4f3f3; }
.block-viewed ol li.even 						{ background-color:#fafafa; }
/* ======================================================================================= */


/* Product Compare ======================================================================= */
.block-compare .block-title strong 				{ background-image:url(/images/i_block-list.gif); background-position:0 1px; }
.block-compare button.button span 				{ border-color:#406a83; background:#618499; }
.block-compare .actions a						{ padding:0; margin:5px 0 0 1px; text-align:left; }
.block-compare ol								{ list-style-type:none; margin:0; padding:0; }
.btn-remove 									{ display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(/images/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
/* ======================================================================================= */


/* Newsletter ============================================================================ */
.block-subscribe .block-content 							{ padding:5px 10px; }
.block-subscribe .block-title strong 						{ }
.block-subscribe label 										{ font-weight:bold; color:#666; }
.block-subscribe input.input-text 							{ display:block; width:167px; margin:3px 0; }
.block-subscribe .actions 									{ background:none; padding:0; margin:5px 0 0 1px; text-align:left; }
.block-subscribe .block-content .intro						{ font-weight:bold; color:#666; margin:5px 0 10px 0; }
/* ======================================================================================= */


/* Gift Vouchers ========================================================================= */
.gift-vouchers img											{ padding:0 10px 0 0; }
/* ======================================================================================= */


/* Sitemap =============================================================================== */
.sitemap ul													{ list-style-type:none; }
.sitemap ul li												{ font-weight:bold; padding:5px 0 0 0; }
.sitemap ul li ul li										{ font-weight:normal; }
/* ======================================================================================= */


/* Related =============================================================================== */
.block-related .block-title strong 							{ background-position:0 1px; }
.block-related input.checkbox 								{ float:left; }
.block-related .product 									{ }
.block-related ol											{ list-style-type:none; margin:0; padding:0; }
.block-related ol li										{ margin:0; padding:0; }
.mini-products-list .product-image 							{ float:left; width:50px; height:50px; border:1px solid #a9a9a9; }
.mini-products-list .product-details 						{ margin-left:60px; font:12px Arial, Helvetica, sans-serif; color:#2f2f2f; }
.mini-products-list table table tr							{ height:65px !important; }
.minimal-price 												{ margin:0; }
.minimal-price .price-label 								{ font-weight:bold; white-space:nowrap; }
.minimal-price 												{ display:block; }
.minimal-price .label 										{ color:#1e7ec8; }
.minimal-price .price 										{ font-weight:bold; color:#406a83; }
.price 														{ white-space:nowrap !important; }
.price-box 													{ margin:5px 0; }
.price-box .price 											{ font-weight:bold; color:#406a83; }
/* ======================================================================================= */


/* Clears ================================================================================ */
.add-to-box:after,
.add-to-cart:after,
.clearer:after					 							{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */


/* Sorter ================================================================================ */
.sorter 													{ font-size:12px; background:#fff url(/images/bkg_toolbar.gif) 0 100% repeat-x; margin-top:12px; padding:5px 0 4px 0; border-top:1px solid #e2e2e2; }
.sorter .sort-by 											{ padding-right:5px; text-align:right; }
.sorter .sort-by label 										{ vertical-align:middle; margin-right:10px; }
.sorter .sort-by select 									{ padding:0; margin:0 0 1px; vertical-align:middle; }
/* ======================================================================================= */


/* Item List ============================================================================= */
.item-list .navigation										{ width:195px; float:left; margin:10px 25px 0 0; }
.item-list .navigation .lhnHeader							{ display:none; }
.item-list .navigation .categories							{ border:0; padding:4px 0 0 16px; height:20px; background:url(/images/bkg_block-layered-title.gif) 0 0 no-repeat; overflow:hidden; color:#FFFFFF; font-weight:bold; }
.item-list .navigation #lhnLinkContainer table				{ border:1px solid #a0b3c3 !important; background:#e7f1f4 !important; padding:10px 0; }
.item-list .navigation #lhnLinkContainer .textboldnolink a	{ text-decoration:underline; }
.item-list .navigation #lhnLinkContainer .textboldnolink a:hover	{ color:#de0024; text-decoration:none; }
.item-list .margin											{ margin:3px 0 20px -2px; width:460px; }
.item-list .sidebar											{ margin:11px -2px 0 0; }
.item-list .main-column p									{ margin-bottom:0; margin-top:10px; }
.item-list .main-column .category-image img					{ border:0; margin:10px 0 0 0; padding:0; width:460px; height:auto; }
.item-list .main-column .page-title							{ width:100%; overflow:hidden; border-bottom:1px solid #ccc;}
.item-list .main-column .page-title h1, .page-title h2		{ margin:0; font-size:20px; color:#0a263c; font-weight:normal; }
.item-list .main-column .item-list-cell						{ margin:0; padding-top:25px !important; padding-left:8px !important; }
.item-list .main-column .item-list-cell	div					{ width:135px; }
.item-list .main-column .item-list-cell .add-to-cart a		{ height:20px; border:1px solid #406a83; background:#618499; padding:3px 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; text-decoration:none; }
.item-list .main-column .item-list-cell .add-to-cart a:hover{ color:#FFFFFF; }
.item-list .main-column .item-list-cell img					{ width:135px; height:135px; border:0; }
.item-list .main-column .item-list-cell a					{ font:13px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; font-weight:bold; }
.item-list .main-column .item-list-cell a:hover				{ color:#de0024; text-decoration:none; }
.item-list .main-column .item-list-cell .price				{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; font-weight:bold; margin:5px 0 8px 0; }
.item-list .main-column .item-list-cell .price .highlight	{ color:#406A83; }
.item-list .main-column .item-list-cell .add-to-wishlist	{ margin:8px 0 0 0; }
.item-list .main-column .item-list-cell .add-to-wishlist a	{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.item-list .main-column .item-list-cell .add-to-wishlist a:hover { color:#de0024; text-decoration:none; }
/* ======================================================================================= */


/* Category List ========================================================================= */
.item-list .main-column .category-list-cell					{ margin:0; padding-top:25px !important; padding-left:8px !important; }
.item-list .main-column .category-list-cell	div				{ width:135px; }
.item-list .main-column .category-list-cell img				{ width:135px; height:135px; border:0; }
.item-list .main-column .category-list-cell a				{ font:13px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; font-weight:bold; }
.item-list .main-column .category-list-cell a:hover			{ color:#de0024; text-decoration:none; }
/* ======================================================================================= */


/* Product View ========================================================================== */
.product-view 												{ border:1px solid #c4c6c8; font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.product-view .smalltextnolink								{ font:12px/1.55 Arial, Helvetica, sans-serif; padding-top:6px; color:#2f2f2f; }
.product-view .smalltextnolink a:hover						{ color:#2f2f2f; }							
.product-view select										{ font:12px/1.55 Arial, Helvetica, sans-serif; background:#fff; border:1px solid #ccc; }
.product-view select:focus									{ background-color:#edf7fd; }
.product-view a												{ color:#2f2f2f; }
.product-view a:hover										{ color:#de0024; text-decoration:none; }
.product-essential 											{ padding:25px 25px 15px 25px; background:#fff url(/images/bkg_product-view.gif) 100% 0 no-repeat; }
.product-essential h2 										{ font:bold 13px/1.35 Arial, Helvetica, sans-serif; padding:0; margin:0 0 5px 0; }
.product-collateral 										{ background:#faf7ee url(/images/bkg_product_collateral.gif) 0 0 repeat-x; padding:25px 25px 12px 25px; margin:0; }
.product-collateral p										{ padding:0 0 10px 0; margin:0; }
.product-collateral h2 										{ font-weight:bold; font-size:15px; color:#406a83; border-bottom:1px solid #e5dcc3; padding:0 0 1px; margin:0 0 15px; }
.product-collateral .countdown								{ color:#009900; font-weight:bold; }
.product-collateral #vzaar_media_player						{ display:none; }
.product-collateral #productFeatures						{ display:none; }
.product-collateral #deliveryInformation					{ display:none; }
.product-collateral #productDownloads						{ display:none; }
.product-view .product-img-box 								{ float:left; width:300px; }
.product-view .product-shop 								{ float:right; width:303px; }
.product-view .product-shop .social							{ margin:10px 0 0 0; display:none; }
.product-view .product-shop .loyalty-points					{ color:#9900FF; font-weight:bold; margin:10px 0 0 0; }
.product-view .product-shop .product-features ul			{ margin:0 0 0 15px; padding:0; }
.product-view .product-shop .product-name 					{ margin:0 0 5px; }
.product-view .product-shop .product-name h1 				{ margin:0; font:bold 15px/1.35 Arial, Helvetica, sans-serif; }
.product-view .product-shop .availability 					{ margin:10px 0; display:none; }
.product-view .product-shop .availability .sold-out			{ color:#de0024; }
.product-view .product-shop .short-description 				{ margin:10px 0; background:url(/images/bkg_divider1.gif) 0 0 repeat-x; padding:10px 0 0; }
.product-view .product-shop .item-options select			{ margin:5px 0; }
.product-view .product-shop .price-box 						{ margin:10px 0 5px 0; font-size:15px; }
.add-to-box 												{ margin:10px 0; }
.add-to-box .add-to-cart 									{ float:left; font:12px Arial, Helvetica, sans-serif; }
.add-to-box .add-to-cart .qty								{ padding-top:3px; padding-bottom:3px; margin-left:6px; margin-right:8px; }
.add-to-box .add-to-cart .btn-cart							{ background:none; color:#FFFFFF; border-color:#406a83; background-color:#618499; font:12px Arial, Helvetica, sans-serif; padding:2px 8px; font-weight:bold; cursor:pointer; border-width:1px; }
/* ======================================================================================= */


/* Product Images ======================================================================== */
.product-view .product-img-box 								{ float:left; width:300px; }
.product-view .product-img-box .product-image 				{ width:300px; height:300px; }
.product-view .product-img-box .more-views h2 				{ font-size:11px; border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul 				{ margin-left:-8px }
.product-view .product-img-box .more-views li 				{ float:left; margin:0 0 8px 8px; }
.product-view .product-img-box .more-views li a 			{ float:left; width:56px; height:56px; border:none; overflow:hidden; }
.product-view .product-img-box .more-views-padding 			{ padding:0 0 5px 0; }
.product-view .product-img-box .more-views ul				{ display:none; }
.product-view .product-img-box .more-views li				{ display:none; }
/* ======================================================================================= */


/* Product Availability ================================================================== */
.availability 												{ margin:0; }
.availability span 											{ font-weight:bold; color:#009900; }
.availability.out-of-stock span 							{ color:#d83820; }
.availability.out-of-stock 									{ color:#d83820; font-weight:bold; }
.availability.in-stock 										{ font-weight:bold; color:#009900; }
/* ======================================================================================= */


/* Product Zoom ========================================================================== */
.MagicZoom img 												{ border: 0 !important; padding: 0 !important; margin: 0 !important; }
.MagicZoomBigImageCont 										{ border: none; }
.MagicZoomHeader 											{ font-size: 8pt !important; line-height: normal !important; color: #fff; background: #666; text-align: center !important; }
.MagicZoomPup 												{ border: 1px solid #aaa; background: #fff; cursor: move; }
.MagicZoomLoading 											{ border: 1px solid #ccc; background: #fff url(loader.gif) no-repeat 2px 50%; padding: 4px 4px 4px 24px !important; margin: 0; text-decoration: none; text-align: left; font-size: 8pt; font-family: sans-serif; color: #444; }
.MagicZoomPlus 												{ cursor: url(zoomin.cur), pointer; outline: 0 !important; }
.MagicZoomPlus img 											{ border: 0 !important; padding: 0 !important; margin: 0 !important; width:150px; }
.MagicZoomPlus span 										{ display: none !important; }
.MagicZoomPlus div img 										{ width:auto; }
.MagicHotspots 												{ display: none; visibility: hidden; }
.MagicHotspots a 											{ border: 1px solid #ccc; }
.MagicHotspots a:hover 										{ border: 1px solid red; }
.MagicThumb, .MagicThumb:hover 								{ cursor: url(zoomin.cur), pointer; outline: 0 !important; }
.MagicThumb-expanded-thumbnail 								{ cursor: default; }
.MagicThumb span 											{ display: none !important; }
.MagicThumb img 											{ border: 0; outline: 0; }
.MagicThumb-expanded 										{ cursor: url(zoomout.cur), pointer; background: transparent; border: 1px solid #ccc; outline: 0; padding: 0; }
.MagicThumb-caption 										{ color: #333; font: normal 10pt Verdana, Helvetica; background: #ccc; text-align: left; padding: 8px; border: 0 !important; outline: 0 !important; }
.MagicThumb-buttons 										{ background: transparent url(buttons1.png) no-repeat 0 0; height: 24px; display: block; }
.MagicThumb-buttons a 										{ width: 24px; height: 24px; margin: 0px 1px !important; overflow: hidden; }
.MagicThumb-loader 											{ font: normal 12pt sans-serif; border: 1px solid #000; background: #fff url(loader.gif) no-repeat 2px 50%; padding: 2px 2px 2px 22px; margin: 0; text-decoration: none; text-align: left; }
.MagicThumb-swap 											{ }
.MagicThumb-external-caption 								{ display: none; }
div.MagicToolboxContainer 									{ text-align: center; }
div.MagicToolboxContainer a									{ margin: 0 auto; }
div.MagicToolboxSelectorsContainer 							{ clear: both; }
div.MagicToolboxSelectorsContainer ul						{ padding:0; margin:0; list-style-type:none; display:none; }
div.MagicToolboxSelectorsContainer a 						{ display: inline-block; margin: 0 1px; }
div.MagicToolboxContainer									{ text-align:center; }
/* ======================================================================================= */


/* Info Items ============================================================================ */
.information-items											{ margin-top:0; }
.information-items a										{ text-decoration:underline; color:#2f2f2f; }
.information-items a:hover									{ text-decoration:none; color:#de0024; }
.information-items p a										{ text-decoration:underline; color:#2f2f2f; }
.information-items p a:hover								{ text-decoration:none; color:#de0024; }
.information-items p,ul										{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.information-items td	 									{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.information-items table									{ padding:0; }
.information-items .text									{ padding:0; }
.information-items .page-title								{ width:100%; overflow:hidden; border-bottom:1px solid #ccc;}
.information-items .page-title h1, .page-title h2			{ margin:0; font-size:20px; color:#0a263c; font-weight:normal; }
.information-items .col2-set .col-1 						{ float:left; width:48.5%; }
.information-items .col2-set .col-2 						{ float:right; width:48.5%; }
.information-items ul										{ padding:0 0 0 40px; }
.info-items													{ padding-left:0 !important; padding-top:15px !important; margin:0; }
.info-items a												{ font:13px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; font-weight:bold; }
.info-items a:hover											{ color:#de0024; text-decoration:none; }
.info-items div												{ width:100% !important; }
/* ======================================================================================= */


/* Shopping Cart ========================================================================= */
.shopping-cart												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; margin:5px 0 0 0; }
.shopping-cart	.page-title									{ overflow:hidden; margin:0; padding:0; float:left !important; }
.shopping-cart	.page-title h1, .page-title h2				{ margin:0; padding:0; font-size:20px; color:#0a263c; font-weight:normal; }
#carttableheader											{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; width:100%; padding:3px 8px; }
#carttableheader .listheadernosort							{ font-weight:bold; padding:2px 8px; color:#0a263c; white-space:nowrap; vertical-align:middle; background:#d9e5ee; }
#carttableheader td											{ font-weight:bold; border-right:1px solid #c2d3e0; border-bottom:none !important; padding:2px 8px !important; color:#0a263c; white-space:nowrap; vertical-align:middle; background:url(/images/bkg_th.gif) repeat-x 0 100% #d9e5ee; }
#carttable													{ margin:-10px 0 20px 0; padding:0; border:1px solid #bebcb7; border-bottom:none; border-right:none; }
#carttable td												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; padding:10px; border-bottom:1px solid #bebcb7; }
#carttable a												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
#carttable a:hover											{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; color:#de0024; }
#carttable .bglttext										{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; background:#f8f7f5; border:none; padding:0 !important; }
#carttable .texttable										{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; background:#f8f7f5; border-left:none; border-right:1px solid #bebcb7; border-top:none; }
#carttable .texttablert										{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; background:#f8f7f5; border-left:none; border-right:1px solid #bebcb7; border-top:none; }
#carttable .texttablectr									{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; background:#f8f7f5; border-left:none; border-right:1px solid #bebcb7; border-top:none; padding:10px 10px 5px 10px; }
#carttable .errortext										{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#de0024; background:#f8f7f5; border:none; }
#carttable .bglt											{ font:12px/1.55 Arial, Helvetica, sans-serif; }
#carttable .input											{ font:12px Arial, Helvetica, sans-serif; background:#fff; border:1px solid #ccc; margin-left:6px; margin-right:8px; width:32px; }
#carttable .input:focus										{ background-color:#edf7fd; }
#recalc														{ margin-right:-3px; }
#change														{ margin-right:-3px; margin-left:-3px; }
#submitter													{ margin-right:5px; }
#cart-buttons-proceed										{ float:right; margin-right:6px; }
#cart-buttons-cancel										{ float:right; margin-right:6px; }
#cart-buttons-recalc										{ float:right; }
/* ======================================================================================= */


/* My Account ============================================================================ */
.smalltextbnolink											{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; font-weight:bold; }
.textboldnolink												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; font-weight:bold; }
.bgmd														{ background:none; }
.bglt														{ background:none; }
.bgbar							 							{ width:100%; background:#fbfaf6 url(/images/bkg_main1.gif) 50% 0 no-repeat; }
.bgbar table												{ width:950px; margin:0 auto; padding:0; background:#fffffe url(/images/bkg_main2.gif) 0 0 no-repeat;}
.bgbar table table											{ width:0; }
.bgbar td.tasktitlemed										{ padding:10px 25px; }
.bgbar td													{ padding:0; }
.bgbar td.text												{ width:0; }
.bgbar .tasktitlemed										{ color:#000000; }
.smalltextrt												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
#div__bodytab .listtexthl									{ text-align:left !important; }
.listtexthlrt												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; background:#f8f7f5; border-left:none; border-right:1px solid #bebcb7; border-top:none; }
#div__footer table											{ padding:0 10px; }
#div__footer table .smalltextnolink							{ color:#FFFFFF; }
#newcust table												{ width:900px; }
/* ======================================================================================= */


/* Checkout ============================================================================== */
.greytitle													{ margin:0; padding:5px 0 0 0; font-size:20px; color:#0a263c; font-weight:normal; }
.greytitle p												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.smallgraytext												{ color:#de0024; font:11px Arial, Helvetica, sans-serif; }
.smalltext													{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.smalltextnolink											{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.smalltextnolink a											{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.smalltext a												{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.smalltext a:hover											{ color:#de0024; }
input.radio													{ margin:0 5px 2px 10px; }
input.bgbutton, input.nlbutton								{ font:12px Arial, Helvetica, sans-serif; background:none; color:#FFFFFF; border:#406a83 1px solid; background-color:#618499; padding:2px 8px; font-weight:bold; cursor:pointer; }
input.bgbuttonDisabled										{ font:12px/1.55 Arial, Helvetica, sans-serif; background:none; color:#999999; border-color:#999999; background-color:#CCCCCC; padding:2px 8px; font-weight:bold; border-width:1px; }
input.inputreq, input.input, input.text, select.inputreq	{ font:12px Arial, Helvetica, sans-serif; background:#fff; border:1px solid #ccc; margin-left:6px; margin-right:8px; }
input.inputreq:focus, input.input:focus, input.text:focus, select.inputreq:focus { background-color:#edf7fd; }
input.dropdownInput											{ font:12px Arial, Helvetica, sans-serif; border:1px solid #ccc; margin-left:6px; margin-right:8px; }
input.dropdownInput:focus									{ background-color:#edf7fd; }
select.input												{ font:12px Arial, Helvetica, sans-serif; background:#fff; border:1px solid #ccc; margin-left:6px; margin-right:8px; }
select.input:focus											{ background-color:#edf7fd; }
.checkoutprogresstext										{ display:none; }
.errortext													{ font:12px/1.55 Arial, Helvetica, sans-serif; background:none; color:#de0024; }
.errortext p												{ margin:0; padding:0; }
.listtexthl													{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; background:#f8f7f5; border-left:none; border-right:1px solid #bebcb7; border-top:none; text-align:center; }
.text														{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.progress-container											{ width:100%; text-align:center; background:#fbfaf6 url(/images/bkg_main1.gif) 50% 0 no-repeat; font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; }
.progress-content											{ width:950px; text-align:left; margin:0 auto; padding:0; background:#fffffe url(/images/bkg_main2.gif) 0 0 no-repeat; }
.progress-content .progress-holder							{ padding:15px 0 0 25px; }
.progress-content a											{ font:12px/1.55 Arial, Helvetica, sans-serif; color:#2f2f2f; text-decoration:underline; }
.progress-content a:hover									{ text-decoration:none; color:#de0024; }
#debitcardissuenohider										{ }
#debitcardissuenohider td									{ float:left; position:absolute; margin-left:70px; }
#debitcardissuenohider .input								{ margin-left:65px; }
#debitcardvalidfromhider									{ padding:40px 0 20px 0; }
#debitcardvalidfromhider td									{ float:left; position:absolute; }
#debitcardvalidfromhider .text								{ margin-left:135px; }
#debitcardvalidfromhider select								{ margin-left:0; }
#address table												{ margin-left:-3px; }
#fauxsubmit													{ margin-right:3px; }
#paymeth table												{ width:900px; }
#paymeth table table										{ width:auto; }
/* ======================================================================================= */


/* Home Page ============================================================================= */
.home-mainsection											{ margin:15px 0 0 0; }
.home-mainsection .left										{ float:left; }
.home-mainsection .right									{ float:right; }
.home-midsection											{ margin:10px 0 0 0; }
.home-midsection .left										{ float:left; }
.home-midsection .middle									{ float:left; margin-left:15px; }
.home-midsection .right										{ float:right; }
.home-bottomsection											{ margin:10px 0; }
.home-bottomsection .left									{ float:left; margin-bottom:20px; }
.home-bottomsection .middle									{ float:left; margin-left:15px; margin-bottom:20px; }
.home-bottomsection .right									{ float:right; margin-bottom:20px; }
.home-bottomsection .box									{ width:288px; height:246px; background:url(/images/bkg_main2.gif) 0 0 no-repeat; }
.home-bottomsection .box .content							{ border:1px solid #c4c1bc; border-top:none; height:222px; }
.home-bottomsection .box a									{ color:#2f2f2f; text-decoration:underline; }
.home-bottomsection .box a:hover							{ color:#de0024; text-decoration:none; }
.home-bottomsection .box .title a							{ color:#ffffff; text-decoration:underline; }
.home-bottomsection .box .title a:hover						{ color:#de0024; text-decoration:none; }
.home-bottomsection .box .heading							{ padding:5px 10px; }
.home-bottomsection .box .info								{ padding:5px 10px; }
.home-bottomsection .box .read-more							{ float:right; font-size:12px; padding:5px 10px; font-weight:bold; bottom:0; position:relative; }
.home-bottomsection .box h2									{ background:url(/images/menubg.gif) 0 0; color:#FFFFFF; padding:5px 10px; margin:0; font:12px Arial, Helvetica, sans-serif; font-weight:bold; }
.home-bottomsection .box h3									{ font:12px/1.55 Arial, Helvetica, sans-serif; font-weight:bold; padding:5px 0 0 0; margin:0; }
/* ======================================================================================= */


/* Reviews =============================================================================== */
.ec_cr_hide			{ display:none; width: 0px; height:0px; line-height: 0px; overflow: hidden;}
.ec_cr_container	{ font:12px Arial, Helvetica, sans-serif; background-color:#ECF5FA; padding:10px; margin-top:10px; border:1px solid #C4C6C8;	}
.ec_cr_title		{ font-size:12px; font-weight:bold;	}
.ec_cr_date			{ }
.ec_cr_author		{ font-style:italic; }
.ec_cr_location		{ font-style:italic; }
.ec_cr_review		{ }
/* ======================================================================================= */


/* Loyalty Points ======================================================================== */
#points-loggedin	{ display:none; }
/* ======================================================================================= */

.box_top1
{
background-image: url(/images/box_05.jpg);
background-repeat:repeat-x;
}
.box_bottom
{
background-image:url(/images/box_06.jpg);
background-repeat:repeat-x;
}
.box_left
{
background-image:url(/images/box_07.jpg);
background-repeat:repeat-y;
}
.box_right
{
background-image:url(/images/box_08.jpg);
background-repeat:repeat-y;
}

.box_border
{
border: #CCCCCC solid 1px;
}

.review_box_top
{
background-image: url(/images/bo_5.jpg);
background-repeat:repeat-x;
height:11px;
}
.review_box_bottom
{
background-image: url(/images/bo_6.jpg);
background-repeat:repeat-x;
}
.review_box_left
{
background-image:url(/images/bo_7.jpg);
background-repeat:repeat-y;
}
.review_box_right
{
background-image:url(/images/bo_8.jpg);
background-repeat:repeat-y;
}